<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/606/PNG/512/coins-of-dollars-stack_icon-icons.com_56192.png">
    <link rel="stylesheet" href="../static/style.css">
    <title>Cotação de Moedas</title>
</head>
<body>
    
    <!-- Parte Inicial da aplicação -->
    <header>
        <div class='container'>
            <img src="https://cdn.icon-icons.com/icons2/606/PNG/512/coins-of-dollars-stack_icon-icons.com_56192.png" align="middle">
            <div id="title"><h1>Cotação de Moedas</h1></div>
        </div>
    </header>

    <div class="desc">
        <p>Esta aplicação realiza uma pesquisa em uma API. <br> Para demonstrar o valor do Real comparado com as principais moedas do mundo!</p>
    </div>

    <!-- Uma box representando a cotação do dolar e Euro -->
    <div class="bigbox">
        <div class="box">
            <p>Dólar Americano</p>
            <h2>US$: {{ dolar }}</h2>
        </div>
        <div class="box">
            <p>Euro</p>
            <h2>€: {{ euro }}</h2>
        </div>
    </div>


    <!-- Uma box representando a cotação do Iene e Libra esterlina -->
    <div class="bigbox">
        <div class="box">
            <p>Libra esterlina</p>
            <h2>£: {{ gbp }}</h2>
        </div>
        <div class="box">
            <p>Iene</p>
            <h2>¥: {{ ien }}</h2>
        </div>
    </div>


    <!-- Uma box representando a cotação do Dolar Canadense e Franco suiço -->
    <div class="bigbox">
        <div class="box">
            <p>Franco Suiço</p>
            <h2>fr: {{ chf }}</h2>
        </div>
        <div class="box">
            <p>Dolar canadense</p>
            <h2>C$: {{ cad }}</h2>
        </div>
    </div>

    <!-- Footer do site, aonde mostra meu @ das redes sociais-->
    <footer>
        <p>Site feito por @kaue_cabesss</p>
    </footer>

</body>
</html>