@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

* {
    margin: 0;
}

body {
    background-color: rgb(228, 228, 228);
    font-family: 'Unbounded', cursive;
}

header {
    background-image: linear-gradient(to left,green, rgb(62, 219, 0));
    padding: 10px;
}

footer {
    margin-top: 50px;
    background-image: linear-gradient(to left,green, rgb(62, 219, 0));
    color: white;
    text-align: center;
    padding: 20px;
}

input {
    border: none;
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

header img {
    width: 50px;
    height: 50px;
    margin-top: -5px;
    float: left;
}

#title {
    color: white;
    text-align: center;
}

.bigbox {
    display: flex;
    flex-wrap: wrap; /* Adicionando flex-wrap para quebrar para uma nova linha */
    justify-content: space-between; /* Adicionando espaço entre os elementos */
    width: 70%;
}

.box {
    background-image: linear-gradient(to left,rgb(100, 245, 100), rgb(255, 255, 255));
    width: 250px;
    margin: 8px; /* Alterando o valor do margin */
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

.desc {
    text-align: center;
    margin: 8px;
}

.calc {
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    padding: 15px;
}

.container {
    min-height: 100vh;
}

.content {
    justify-content: center;
    align-items: center;
    display: flex;
}